<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foods App</title>
  </head>
  <body>
    <h1>Welcome to the Hungry's app!</h1>
    <p>An app for collecting your favorite foods to eat.</p>
    <a href="/foods">Browse your favorite foods!</a>
  </body>
</html>
