<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foods Index</title>
  </head>
  <body>
    <h1>All Foods</h1>
<a href="/foods/new">Add your favorite food</a>
    <ul>
      <% foods.forEach(food => { %>
        <li>
          <a href="/foods/<%= food._id %>"><%= food.name %></a> 
        </li>
     <% }) %>
    </ul>
  </body>
</html>
